/** 
 * Generic
 */
html {
  font-size: $typographic-root-font-size;
}

body.dark-mode {
  -webkit-font-smoothing: antialiased;
  --color-base: white;
  --color-highlight: #bc86fc;
  --color-background: #1e1e1e;
  background-color: var(--color-background);
}

body {
  --color-base: #222;
  --color-highlight: #6200ee;
  --color-background: white;

  background-color: $color-white;
  margin: 0 0 0 calc(100vw - 100%);
  font-family: $typographic-font-family;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.5s all;
}

.tinyLetter__container {
  width: auto;
  padding: 1.25rem;
  background: var(--color-background);
  border-radius: 0.3125rem;
  border: 2px solid var(--color-highlight);
  margin: 30px 0;

  &__title {
    color: var(--color-base);
    margin: 0 0 1.25rem;
  }

  form {
    display: flex;
  }

  p {
    font-weight: 300;
  }

  input[type='email'] {
    outline: none;
    display: inline-block;
    width: 70%;
    padding: 0.5rem;
    border: 2px solid var(--color-highlight);
    border-radius: 0.3125rem;
    font-size: 1rem;
  }

  input[type='email']:focus {
    border: 2px solid var(--color-base);
  }

  input[type='submit'] {
    color: var(--color-background);
    background: var(--color-highlight);
    text-decoration: none;
    border-radius: 0.3125rem;
    width: 17%;
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
    border: 2px solid transparent;
    margin: 0 0 0 0.625rem;
    font-size: 1rem;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  input[type='submit']:hover {
    background-color: var(--color-base);
  }

  @media screen and (max-width: 736px) {
    input[type='email'] {
      display: block;
      width: 100%;
    }
    input[type='submit'] {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      width: 50%;
      display: block;
    }
  }
}

.toggleWrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  input {
    display: none;
  }
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 4.625rem;
    height: 2.125rem;
    background-color: #83d8ff;
    border-radius: 5.25rem;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 1.75rem;
    height: 1.75rem;
    background-color: #ffcf96;
    border-radius: 3.125rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
    .crater {
      position: absolute;
      background-color: #e8cda5;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      border-radius: 100%;
    }
    .crater--1 {
      top: 14px;
      left: 6px;
      width: 0.18rem;
      height: 0.18rem;
    }
    .crater--2 {
      top: 17px;
      left: 14px;
      width: 0.275rem;
      height: 0.275rem;
    }
    .crater--3 {
      top: 5px;
      left: 14px;
      width: 0.4rem;
      height: 0.4rem;
    }
  }
  .star {
    position: absolute;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
  }
  .star--1 {
    top: 5px;
    left: 15px;
    z-index: 0;
    width: 1.875rem;
    height: 0.1875rem;
  }
  .star--2 {
    top: 11px;
    left: 12px;
    z-index: 1;
    width: 1.875rem;
    height: 0.1875rem;
  }
  .star--3 {
    top: 18px;
    left: 19px;
    z-index: 0;
    width: 1.875rem;
    height: 0.1875rem;
  }
  .star--4 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    top: 12px;
    left: 25px;
    z-index: 0;
    width: 0.125rem;
    height: 0.125rem;
    transform: translate3d(3px, 0, 0);
  }
  .star--5 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    top: 20px;
    left: 22px;
    z-index: 0;
    width: 0.1875rem;
    height: 0.1875rem;
    transform: translate3d(3px, 0, 0);
  }
  .star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    top: 25px;
    left: 33px;
    z-index: 0;
    width: 0.125rem;
    height: 0.125rem;
    transform: translate3d(3px, 0, 0);
  }
  input {
    &:checked {
      + {
        .toggle {
          background-color: #9383b0;
          .toggle__handler {
            background-color: #ffe5b5;
            transform: translate3d(40px, 0, 0) rotate(0);
            .crater {
              opacity: 1;
            }
          }
          .star--1 {
            width: 2px;
            height: 2px;
          }
          .star--2 {
            width: 4px;
            height: 4px;
            transform: translate3d(-5px, 0, 0);
          }
          .star--3 {
            width: 2px;
            height: 2px;
            transform: translate3d(-7px, 0, 0);
          }
          .star--4 {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          }
          .star--5 {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          }
          .star--6 {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          }
        }
      }
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family;
  font-weight: 600;
}

h1 {
  font-size: $typographic-base-font-size * 2.5;
  @include line-height(2);
  @include margin-top(4);
  @include margin-bottom(1);
}

h2 {
  font-size: $typographic-base-font-size * 1.6875;
  @include line-height(1.5);
  @include margin-top(2);
  @include margin-bottom(0.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include line-height(1);
  @include margin-top(2);
  @include margin-bottom(0.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
  @include line-height(1);
  @include margin-top(1.5);
  @include margin-bottom(0.5);
}

h5 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(0.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(0.5);
}

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

hr {
  margin-top: 52px;
  margin-bottom: 52px;
  border: 0;
  color: var(--color-base);
  display: block;
  height: 26px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-image: linear-gradient(
    to bottom,
    transparent 1px,
    transparent 11px,
    var(--color-base) 11px,
    var(--color-base) 15px,
    transparent 15px,
    transparent 26px
  );
  width: 100px;
}

a {
  color: $typographic-link-p-font-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $typographic-link-s-font-color;
  }
}

b,
strong {
  font-weight: 600;
}

ul {
  list-style: square;
  @include margin-bottom(1);

  & li {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}

p {
  @include line-height(1);
  @include margin-bottom(1);
}

blockquote {
  padding: 0;
  font-style: italic;
  text-align: center;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(0.75);
  @include margin-top(0.25);
  color: var(--color-base);
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.anchor {
  margin-left: -30px !important;
  padding-right: 14px !important;

  svg {
    fill: var(--color-base);
  }
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }
}

.project-container {
  display: flex;
  flex-direction: column;

  h2.project-title {
    margin: 35px 0 0;
  }

  .button {
    display: inline-block;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    border: 1px solid $color-gray-border;
    text-decoration: none;
    border-radius: $button-border-radius;
    color: var(--color-base);
    top: 15px;
    position: relative;

    &:hover,
    &:focus {
      color: var(--color-highlight);
    }
  }

}
