@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.copyright {
  color: lighten($color-gray, 18%);
  font-size: $typographic-x-small-font-size;
  text-align: center;
  padding: 10px 0;
}
